@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&family=Roboto:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.appBar {
    background-color: black;
}
.content {
    min-height: calc(100vh - 120px);
    margin-top: 30px;
    margin-bottom: 30px;
    /* 80px header + 40px footer = 120px  */
}